---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-terraform-hammadzf-github-io-v1-staterescue
  failurePolicy: Fail
  name: vstaterescue-v1.kb.io
  rules:
  - apiGroups:
    - terraform.hammadzf.github.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - staterescues
  sideEffects: None
