{{- if .Values.crd.enable }}
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.crd.keep }}
    "helm.sh/resource-policy": keep
    {{- end }}
    controller-gen.kubebuilder.io/version: v0.18.0
  name: staterescues.terraform.hammadzf.github.io
spec:
  group: terraform.hammadzf.github.io
  names:
    kind: StateRescue
    listKind: StateRescueList
    plural: staterescues
    singular: staterescue
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: StateRescue is the Schema for the staterescues API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of StateRescue
            properties:
              stateSecretName:
                description: |-
                  specifies the name of the secret object containing terraform state file
                  is determined from terraform Kubernetes backend configurations (secret_suffix)
                type: string
            required:
            - stateSecretName
            type: object
          status:
            description: status defines the observed state of StateRescue
            properties:
              lastBackupTime:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                  time when the state file secrets were last backed up
                format: date-time
                type: string
              lastRescueTime:
                description: time when the state files were last rescued from backup
                format: date-time
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
{{- end -}}
